body{
    background-color: rgb(0, 0, 0); /*Tela de fundo*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 #Titulo {
     color: #ff0909;
     justify-content: center;
 }

#Bcomeca{
width: 70px;
height: 50px;
color:rgb(255, 255, 255);
background-color:green;
font-family: Bold;
font-size: 15px;
cursor: pointer;
  position: relative;
  left: 40px;
  top: 30px;
}

#Bresetar{
width: 70px;
height: 50px;
color:rgb(255, 255, 255);
background-color: #ff0909;
font-family: Bold;
font-size: 15px;
cursor:pointer;
position: relative;
  left: -40px;
  top: -20px;
}
.QuadradinDoJogo{
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 80px;   /*Tamanho do X e O*/
    font-weight: bold;
    cursor: pointer;
}

#IndicadorTurno{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}

.Xturno{
    color: red;
}

.Oturno{
    color: blue;
}


.QuadradinDoJogo:hover{
transform: scale(1.5);
z-index: 4;
}

#TabelaDoJogoDaVelha{
background-color: rgb(0, 0, 0);
width: 350px;
height: 350px; 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;

}

#Q1{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);    
}
#Q2{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);    
}
#Q3{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);      
}
#Q4{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);    
}
#Q5{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);        
}
#Q6{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);      
}
#Q7{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);      
}
#Q8{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);     
}
#Q9{
background-color: rgb(255, 255, 255);
 border: 5px solid rgb(0, 0, 0);      
}

